<div></div>

<div class="image-container">
  <div class="welcome-message">
    <br />
    <p>
      "Avec plus de 30 ans d'expérience en électricité, peinture et placo, je
      suis un artisan et entrepreneur polyvalent, capable de mener à bien une
      rénovation complète d'appartement, du sol au plafond. Pour vos travaux
      d'électricité, peinture et placo, je vous offre une garantie décennale,
      gage de qualité et de sécurité. Je prends également en charge la
      plomberie, la menuiserie, la rénovation de salles de bain, WC et
      carrelage, en m'appuyant sur mon expertise et mon savoir-faire éprouvé. En
      me confiant votre projet, vous bénéficiez d'un seul interlocuteur, d'une
      coordination efficace et d'une finition impeccable, le tout avec
      transparence et professionnalisme."
    </p>
    <div class="title"></div>
    <h1 class="text-2xl font-bold">Rénovation complète d'un apartement</h1>

    <p>Slidez pour voir la pièce rénovée</p>
  </div>
  @if(pictures.length > 0){ @for(picture of pictures;track picture;let index =
  $index){
  <div class="block-container">
    <app-before-after
      pictureBefore="{{picture.before}}"
      pictureAfter="{{picture.after}}"
      [indice]="index"
    ></app-before-after>
  </div>
  } }
</div>
