.welcome-message {
  position: relative;
  //height: 60vh;
  padding-left: 20%;
  padding-right: 20%;
  //margin-top: 1vh;
  @media only screen and (max-width: 900px) {
    padding-left: 10%;
    padding-right: 10%;
  }

  .header__subtitle {
    margin-block-end: 32px;
  }
  .welcome-message::after {
    content: "";
    //background: url("../../../public/image-accueil.jpg");
    background-size: cover;
    background-position: right 0px bottom 50%;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  h1 {
    margin-top: 2vh;
    font-size: 3vh;
    color: #ffffff;
    text-align: center;
    margin-bottom: 5vh;
  }
  p {
    color: #ffffff;
    font-size: 2vh;
    font-weight: bold;
    text-align: center;
    //margin-top: 20px;
  }
}
.title {
  margin: 3vh auto 3vh auto;
  border-top: 1px solid #ffffff;
  max-width: 20vw;
}
.block-container {
  justify-content: center;
  margin: 0 auto 5% auto;
  max-width: 50vh;
}
