<div class="image-container">
  <div class="welcome-message">
    <br />
    <p>
      Pour vos travaux d'électricité, peinture, isolation et placo, je vous
      offre une garantie décennale, gage de qualité et de sécurité.<br />
      Sur les chantiers pour des raisons de flexibilité et fluidité dans le
      planning, mes clients peuvent me demander de prendre en charge la partie
      plomberie, menuiserie, rénovation de salles de bain, WC ou sols. Ainsi ils
      ne bénéficient que d'un seul interlocuteur pour l'ensemble du projet
      permettant un gain de temps considérable.
    </p>
    <div class="title"></div>
    <h1 class="text-2xl font-bold">Rénovation complète d'un appartement</h1>

    <p>
      Remplacement des sols, renovation des murs et plafonds, plomberie et
      rénovation espace cuisine.
    </p>
  </div>
  @if(pictures.length > 0){ @for(picture of pictures;track picture;let index =
  $index){
  <div class="block-container">
    <app-before-after
      pictureBefore="{{picture.before}}"
      pictureAfter="{{picture.after}}"
      [indice]="index"
    ></app-before-after>
  </div>
  } }
</div>
