<div></div>

<div class="image-container">
  <div class="welcome-message">
    <br />
    <p>
      Pour vos travaux d'électricité, peinture, isolation et placo, je vous
      offre une garantie décennale, gage de qualité et de sécurité. Je prends
      également en charge la plomberie, la menuiserie, la rénovation de salles
      de bain, WC et sols, en m'appuyant sur mon expertise et mon savoir-faire
      éprouvé. En me confiant votre projet, vous bénéficiez d'un seul
      interlocuteur, d'une coordination efficace et d'une finition impeccable,
      le tout avec transparence et professionnalisme.
    </p>
    <div class="title"></div>
    <h1 class="text-2xl font-bold">Rénovation complète d'un appartement</h1>

    <p>
      Remplacement des sols, renovation des murs et plafonds, plomberie et
      rénovation espace cuisine.
    </p>
  </div>
  @if(pictures.length > 0){ @for(picture of pictures;track picture;let index =
  $index){
  <div class="block-container">
    <app-before-after
      pictureBefore="{{picture.before}}"
      pictureAfter="{{picture.after}}"
      [indice]="index"
    ></app-before-after>
  </div>
  } }
</div>
