.contact-container {
  position: relative;
  background-color: rgb(200 247 223);
  width: 100%;
  .phone-container {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 10px;

    .phone {
      margin-right: 5px;
      padding: 10px;
      width: 40px;
      border-radius: 50%;
      background-color: rgb(125, 148, 184);
    }
    .number {
      color: rgb(125, 148, 184);
      text-decoration: underline;
      font-size: 15px;
      font-weight: bold;
    }
  }
  .email-container {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 50px;
    left: 10px;

    .email {
      margin-right: 5px;
      padding: 11px;
      width: 40px;
      border-radius: 50%;
      background-color: rgb(125, 148, 184);
    }
    .address {
      color: rgb(125, 148, 184);
      text-decoration: underline;
      font-size: 15px;
      font-weight: bold;
    }
  }
  .house-container {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 100px;
    left: 10px;

    .house {
      margin-right: 5px;
      padding: 10px;
      width: 40px;
      border-radius: 50%;
      background-color: rgb(125, 148, 184);
    }
    .address {
      color: rgb(125, 148, 184);
      font-size: 15px;
      font-weight: bold;
    }
  }
  iframe {
    position: relative;
    margin-top: 180px;
    left: 0;
  }
}
h1 {
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
