.content-caroussel {
  width: 40%;
  max-height: 400px;
  margin: 5vh 30% 0 30%;
  @media only screen and (max-width: 460px) {
    width: 60%;
    margin: 2vh 20% 0 20%;
    max-height: 700px;
  }
  .carousel-item {
    width: 100%;
    height: auto;
  }
}
