.image-container {
  //width: 100vw;
  margin-left: auto;
  margin-right: auto;
}
.welcome-message {
  position: relative;
  height: 60vh;
  padding: 2vh;
  margin-top: 10vh;
  h1 {
    margin-top: 2vh;
    font-size: 5vh;
    color: #ffffff;
    text-align: center;
    margin-bottom: 5vh;
  }
  p {
    color: #ffffff;
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
  @media only screen and (max-width: 460px) {
    margin-top: 5vh;
    h1 {
      font-size: 4vh;
      margin-bottom: 4vh;
    }
    p {
      font-size: 2vh;
    }
  }
}
.welcome-message::after {
  content: "";
  background: url("../../../public/image-accueil.webp");
  background-size: cover;
  background-position: right 0 bottom 50%;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.hero-content {
  margin-top: 5vh;
  color: #ffffff;
  .img-home-category {
    //width: 50vh;
    height: 12vw;
    @media only screen and (max-width: 1690px) {
      height: auto;
      width: 50vh;
    }
  }
}
